<div class="row">
    <div class="col-md-12">

        <nb-card>
            <nb-card-header>
                {{title}}
            </nb-card-header>
            <nb-card-body>
                <div class="text-center" id="resetAdminErrMsg" style="display:none; color: red;padding:0 0 20px 0;"></div>
                                    
                <form [formGroup]="resetAdminForm" class="form-valide">
                    <!-- <div class="form-group">
                        <label for="code" class="label">Airline</label>
                        <nb-select placeholder="Select" [size]="'small'" [status]="(submitted && f.code.errors) ?'danger' : 'basic'" fullWidth
                        formControlName="code">
                        <nb-option *ngFor="let item of airlineArr"
                        [value]="item.digit3Code">{{item.airlineName }}</nb-option>
                        </nb-select>
                        <ng-container *ngIf="submitted && f.code.errors" class="invalid-feedback">
                            <p class="caption status-danger" *ngIf="f.code.errors.required">Airline is required</p>
                        </ng-container>
                    </div> -->
                    <div class="form-group">
                        <label for="code" class="label">Code</label>
                        <input type="text" nbInput fullWidth id="code" formControlName="code" fieldSize="small" [status]="(submitted && f.username.errors) ?'danger' : 'basic'">
                        <ng-container *ngIf="submitted && f.code.errors" class="invalid-feedback">
                            <p class="caption status-danger" *ngIf="f.code.errors.required">Code is required</p>
                        </ng-container>
                    </div>
                    <div class="form-group">
                        <label for="username" class="label">Username</label>
                        <input type="text" nbInput fullWidth id="username" formControlName="username" fieldSize="small" [status]="(submitted && f.username.errors) ?'danger' : 'basic'">
                        <ng-container *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <p class="caption status-danger" *ngIf="f.username.errors.required">Username is required</p>
                        </ng-container>
                    </div>
                    <div class="form-group">
                        <label for="newPassword" class="label">New Password</label>
                        <input type="password" nbInput fullWidth id="newPassword" formControlName="newPassword" fieldSize="small" [status]="(submitted && f.newPassword.errors) ?'danger' : 'basic'">
                        <ng-container *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                            <p class="caption status-danger" *ngIf="f.newPassword.errors.required">New password is required</p>
                            <p class="caption status-danger" *ngIf="f.newPassword.errors.pattern">Password must have atleast 8 characters including one lowercase,uppercase,number and special character</p>
                        </ng-container>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword" class="label">Confirm Password</label>
                        <input type="password" nbInput fullWidth id="confirmPassword" formControlName="confirmPassword" fieldSize="small" [status]="(submitted && f.confirmPassword.errors) ?'danger' : 'basic'">
                        <ng-container *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                            <p class="caption status-danger" *ngIf="f.confirmPassword.errors.required">Confirm password is required</p>
                            <p class="caption status-danger" *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</p>
                        </ng-container>
                    </div>
                    <div class="buttons-row float-right">
                        <button type="button" (click)="onSubmitResetInternalForm()" class="appearance-filled" [size]="'small'"
                            [status]="'success'" nbButton>Save</button>
                        <button type="button" (click)="onReset()" class="appearance-outline" [size]="'small'"
                            [status]="'info'" nbButton>Reset</button>
                    </div>
                </form>
               
            </nb-card-body>
        </nb-card>

        
    </div>
</div>